
<div class="shadow container d-flex flex-row align-items-center justify-content-between mb-2">
    <h5>Employee Management System</h5>
    <h6>
        @PageTitle
    </h6>
</div>

@code {

    [Parameter]
    public string? PageTitle { get; set; }
}
