<div class="mb-2">
    <label class="form-label" for="{@Name}">
        @Label
    </label>
    <input  class="form-control" name="{@Name}" id="{@Name}"/>
</div>

@code {
    [Parameter]
    public string? Label { get; set; }
    [Parameter]
    public string? Name { get; set; }

}
